<form [formGroup]="form">
    <fieldset class="loginContainer">
        <label style="margin-left: 15px;">Login</label>
        <div class="form-field">
            <label><b>Username</b></label>
            <input name="email" formControlName="email" required placeholder="Enter your username">
        </div>
        <div class="form-field">
            <label><b>Password</b></label>
            <input name="password" formControlName="password" 
                   type="password" required placeholder="Enter password">
        </div>
        <div class="form-buttons">
            <button class="button button-primary" 
                    (click)="login()">Login</button>
        </div>
    </fieldset>
</form>